<%= bootstrap_form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-lg-4">

    <%= f.text_field :nombre %>
    <%= f.text_field :apelidos, label:'Apellidos'%>
    <%= f.text_field :dni %>
    <%= f.number_field :tarjetaSanitaria, label:'Tarjeta sanitaria' %>
    <%= f.text_area :direccion, label:'Dirección' %>
    <%= f.number_field :cp, label:'Código postal' %>
    <%= f.select(:provincia, options_for_select([['Seleccione',0], ['Álava'], ['Albacete'], ['Alicante/Alacant'], ['Almería'], ['Asturias'], ['Ávila'], ['Badajoz'], ['Barcelona'], ['Burgos'], ['Cáceres'], ['Cádiz'], ['Cantabria'], ['Castellón/Castelló'], ['Ceuta'], ['Ciudad Real'], ['Córdoba'], ['Cuenca'], ['Girona'], ['Las Palmas'], ['Granada'], ['Guadalajara'], ['Guipúzcoa'], ['Huelva'], ['Huesca'], ['Illes Balears'], ['Jaén'], ['A Coruña'], ['La Rioja'], ['León'], ['Lleida'], ['Lugo'], ['Madrid'], ['Málaga'], ['Melilla'], ['Murcia'], ['Navarra'], ['Ourense'], ['Palencia'], ['Pontevedra'], ['Salamanca'], ['Segovia'], ['Sevilla'], ['Soria'], ['Santa Cruz de Tenerife'], ['Teruel'], ['Toledo'], ['Valencia/Valéncia'], ['Valladolid'], ['Vizcaya'], ['Zamora'], ['Zaragoza']]), {}, {class: "form-control"}) %>



    <%= f.text_field :localidad %>
    <%= f.number_field :telefono, label:'Teléfono' %>
    <%= f.email_field :email %>
    <%= f.text_field :nombreMadre, label:'Nombre de la madre' %>
    <%= f.number_field :telefonoMadre, label:'Teléfono de la madre' %>
    <%= f.text_field :nombrePadre, label:'Nombre del Padre' %>
    <%= f.number_field :telefonoPadre, label:'Teléfono del Padre' %>
</div>
<div class="col-lg-4">
    <%= f.text_area :direcDuranteActividad, label:'Dirección durante la actividad' %>
    <%= f.number_field :altura, label:'Altura (cm)' %>
    <%= f.number_field :peso, label:'Peso (kg)' %>
    <%= f.text_field :talla, label:'Talla' %>
    <%= f.check_box :seNadar, label:'¿Sabe nadar?' %>
    <%= f.text_area :enfermedades, label:'¿Tiene alguna enfermedad? Si es así escríbala.' %>
    <%= f.text_area :alergias, label:'¿Es alérgico a algo? Si es así escríbala.' %>
    <%= f.text_field :grupoSanguineo, label:'¿Cúal es su grupo sanguineo?' %>
    <%= f.check_box :problemasAuditivos, label:'¿Tiene problemas auditivos?' %>
    <%= f.text_field :centroEstudios, label:'Centro de estudios' %>
    <%= f.text_field :categoria %>
    <%= f.text_field :club %>
    <%= f.text_field :entrenadorActual, label:'Entrenador actual' %>
    <%= f.number_field :telefonoEntrenador, label:'Teléfono de su entrenador' %>

    <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
