<section class="section-colored">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h1>Gestión de jugadores</h1>
        <h4 class="naranjaSubt">Garra</h4>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>Inscritos</h1>
        <%= link_to 'Crear uno nuevo', new_player_path %>
      </div>
      <div class="col-lg-9">
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Categoria</th>
              <th>Club</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @players.each do |player| %>
              <tr>
                <td><%= player.nombre %></td>
                <td><%= player.apelidos %></td>
                <td><%= player.categoria %></td>
                <td><%= player.club %></td>
                <td><span class="glyphicon glyphicon-search"><%= link_to 'Ver', player %></span></td>
                <td><span class="glyphicon glyphicon-pencil"><%= link_to 'Editar', edit_player_path(player) %></span></td>
                <td><span class="glyphicon glyphicon-trash"><%= link_to 'Borrar', player, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center"><%= will_paginate @players, renderer: BootstrapPagination::Rails %></div> 
        
  

      </div>
    </div>
  </div>
</section>


