<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @player.nombre %>
</p>

<p>
  <strong>Apelidos:</strong>
  <%= @player.apelidos %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @player.dni %>
</p>

<p>
  <strong>Tarjetasanitaria:</strong>
  <%= @player.tarjetaSanitaria %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @player.direccion %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @player.cp %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @player.localidad %>
</p>

<p>
  <strong>Provincia:</strong>
  <%= @player.provincia %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @player.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Nombremadre:</strong>
  <%= @player.nombreMadre %>
</p>

<p>
  <strong>Telefonomadre:</strong>
  <%= @player.telefonoMadre %>
</p>

<p>
  <strong>Nombrepadre:</strong>
  <%= @player.nombrePadre %>
</p>

<p>
  <strong>Telefonopadre:</strong>
  <%= @player.telefonoPadre %>
</p>

<p>
  <strong>Direcduranteactividad:</strong>
  <%= @player.direcDuranteActividad %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @player.altura %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @player.peso %>
</p>

<p>
  <strong>Talla:</strong>
  <%= @player.talla %>
</p>

<p>
  <strong>Senadar:</strong>
  <%= @player.seNadar %>
</p>

<p>
  <strong>Enfermedades:</strong>
  <%= @player.enfermedades %>
</p>

<p>
  <strong>Alergias:</strong>
  <%= @player.alergias %>
</p>

<p>
  <strong>Gruposanguineo:</strong>
  <%= @player.grupoSanguineo %>
</p>

<p>
  <strong>Problemasauditivos:</strong>
  <%= @player.problemasAuditivos %>
</p>

<p>
  <strong>Centroestudios:</strong>
  <%= @player.centroEstudios %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @player.categoria %>
</p>

<p>
  <strong>Club:</strong>
  <%= @player.club %>
</p>

<p>
  <strong>Entrenadoractual:</strong>
  <%= @player.entrenadorActual %>
</p>

<p>
  <strong>Telefonoentrenador:</strong>
  <%= @player.telefonoEntrenador %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
