<!DOCTYPE html>
<html>
<head>
  <title>AppCampus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <%= image_tag "logo.png", :alt => "Garra", :title => "Garra"%>
    </div>
 </nav>

 <section class="section-colored">  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 ">
        <h1>Gestión de jugadores</h1>
        <h4 class="naranjaSubt">Garra</h4>
      </div>
    </div>
  </div>
</section>

<%= yield %>

</body>
</html>
